body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

.container {
    width: 90%;
    max-width: 1100px;
    margin: 20px auto;
    background: #fff;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius: 10px;
}

h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="date"],
input[type="number"] {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 2px solid #ddd;
    border-radius: 5px;
    transition: border-color 0.3s;
}

input[type="text"]:focus,
input[type="date"]:focus,
input[type="number"]:focus {
    border-color: #4CAF50;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    display: block; /* Cambio para hacer que el botón no ocupe todo el ancho */
    width: auto; /* Ajusta el ancho del botón al contenido */
    margin: 10px auto; /* Centra el botón horizontalmente y añade espacio vertical */
}

.button-group {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap; /* Permite que los botones se ajusten en filas según el espacio disponible */
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    color: white;
    background-color: #4CAF50;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    margin: 5px; /* Añade un pequeño margen alrededor de cada botón para evitar que se toquen */
}

.btn:hover {
    background-color: #45a049;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

th {
    background-color: #f2f2f2;
}

.round-loser {
    background-color: #f44336; /* Rojo */
    color: white;
}

.round-winner {
    background-color: #4CAF50;
    color: white;
}

.winner {
    background-color: #4CAF50;
    color: white;
}

.loser {
    background-color: #f44336;
    color: white;
}

.game {
    border: 1px solid #ddd;
    margin-bottom: 20px;
        padding: 10px;
    border-radius: 5px;
}

.form-container {
    margin-top: 20px;
}

#gameContainer {
    margin-top: 20px;
}

#pastGames {
    margin-top: 20px;
}